<template>
    <admin-layout>
        <div class="mb-2">
            <a :href="route('admin.permission.index')"><i class="fas fa-angle-double-left"></i> Zurück</a>
        </div>
        <message v-bind:messages="messages"></message>
        <h2 class="font-bold">Rechte</h2>
        <permission :selected-permissions="selectedPermissions" :permission="permission" v-for="permission in permissions" v-model:selected-permissions="selectedPermissions"></permission>
        <div>
            <button v-if="!loading" class="p-2 bg-blue-500 text-white" type="submit"
                    @click="save()">
                <i class="fas fa-save"></i> Speichern
            </button>
            <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
        </div>
    </admin-layout>
</template>

<script>
import AdminLayout from "@/Layouts/Admin/Layout";
import axios from "axios";
import qs from "qs";
import Message from "@/Layouts/Component/Message";
import Permission from "@/Pages/Admin/Permission/Edit/Permission";

export default {
    components: {Permission, Message, AdminLayout},
    props: {
        group: {
            type: Object,
            required: true,
        },
        permissions: {
            type: Array,
            required: true,
        },
        selectedPermissions: {
            type: Array,
            required: true,
        }
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            axios.post(route('admin.permission.save', this.group.id), {
                permissions: this.selectedPermissions,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
    },
}
</script>

<style scoped>

</style>
