<template>
    <admin-layout>
        <div class="mb-2">
            <a :href="route('admin.index')"><i class="fas fa-angle-double-left"></i> Zurück</a>
        </div>
        <message v-bind:messages="messages"></message>
        <h2 class="font-bold"> Gruppen </h2>
        <table class="table-fixed w-full border-collapses border">
            <thead>
            <tr class="border">
                <th class="border text-center">Name</th>
                <th class="border"></th>
                <th class="border"></th>
            </tr>
            </thead>
            <tbody class="border">
            <tr class="border" v-for="group in groups">
                <td class="border text-center">{{ group.name}}</td>
                <td class="border text-center cursor-pointer">
                    <a :href="route('admin.permission.edit', group.id)">
                        Bearbeiten
                    </a>
                </td>
                <td class="border text-center cursor-pointer text-red-500">
                    <a @click="deleteEntry(group.id)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mt-2">
            <h2 class="font-bold">Neue Gruppe erstellen :</h2>
            <form>
                <div class="mt-2">
                    <label for="name">Name:</label>
                    <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded">
                </div>
                <div class="mt-2">
                    <button v-if="!loading" class="p-2 bg-blue-500 text-white" type="submit"
                            @click="create()">
                        <i class="fas fa-save"></i> Speichern
                    </button>
                    <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
                </div>
            </form>
        </div>
    </admin-layout>
</template>

<script>
import AdminLayout from "@/Layouts/Admin/Layout";
import axios from "axios";
import qs from "qs";
import Message from "@/Layouts/Component/Message";

export default {
    components: {Message, AdminLayout},
    props: {
        name: '',
        groups: {},
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        create() {
            this.loading = true;
            axios.post(route('admin.permission.create'), {
                name: this.name,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.groups.push(response.data.group)
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        deleteEntry(id) {
            axios.delete(route('admin.permission.delete', id));
            for(let i = 0; i < this.groups.length; i++) {
                if(this.groups[i].id === id) {
                    this.groups.splice(i, 1);
                    break;
                }
            }
        }
    },
}
</script>

<style scoped>

</style>
