<template>
    <layout>
        <div class="container">
            <div class="m-4 font-bold">
                <h2>Incident {{ incident.id }}:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <div class="col-span-1 font-bold">Titel:</div>
                <div class="col-span-3 underline"> {{ incident.title }}</div>
            </div>
            <div class="m-4" v-for="description in incident.descriptions">
                <div class="font-bold">Beschreibung:</div>
                <div class="border p-1" v-html="description.description"></div>
            </div>
            <div class="m-4">
                <hr/>
                <Profile :profiles="profiles"></Profile>
            </div>
        </div>
    </layout>
</template>

<script>
import Message from "@/Layouts/Component/Message";
import Layout from "@/Layouts/Layout";
import Profile from "@/Pages/Share/Incident/Profile";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        LinkAsButton,
        Profile,
        Layout,
        Message,
    },
    props: {
        incident: {
            type: Object,
            required: true
        },
        profiles: {
            type: Object,
            required: true
        },
    },
}
</script>

<style scoped>

</style>
