<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <div class="mt-4 grid grid-cols-4">
                    <label class="col-span-1">Typ:</label>
                    <select v-model="type" class="col-span-3" @change="">
                        <option value="INCIDENT">Vorfall</option>
                        <option value="PROFILE">Profil</option>
                    </select>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <label class="col-span-1">Code:</label>
                    <input v-model="code" type="text" class="col-span-3 rounded">
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <button class="border border-black p-2" @click="redirect()">Weiter</button>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";

export default {
    components: {
        Layout
    },
    props: {},
    data() {
        return {
            type: 'INCIDENT',
            code: '',
        }
    },
    methods: {
        redirect() {
            if (this.type === 'INCIDENT') {
                window.location = route('share.incident', this.code);
            } else {
                window.location = route('share.profile', this.code);
            }
        }
    }
}
</script>
