<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <div class="mt-4">
                    <h2 class="font-bold">Profil {{ id }}</h2>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Name:</div>
                    <div class="col-span-3">{{ name }}</div>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Bild:</div>
                    <div class="col-span-3">
                        <img class="float-left" :src="image">
                    </div>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Beschreibung:</div>
                    <div class="col-span-3">{{ description }}</div>
                </div>

                <div class="mt-2">
                    <h2 class="font-bold">Vorbestrafungen:</h2>
                    <div class="flex">
                        <div class="rounded m-2 p-2 primaryColorBackground secondaryColor" v-for="charge in charges">
                            {{ charge.count }}x {{ charge.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import Button from "@/Jetstream/Button";
import Message from "@/Layouts/Component/Message";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        Message,
        Button,
        Label,
        Layout,
        LinkAsButton
    },
    props: {
        id: 0,
        name: '',
        image: '',
        description: '',
        charges: {
            type: Object,
            required: true
        },
    },
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
