<template>
    <div class="ml-2">
        <i class="fas fa-arrow-right"></i>
        <input class="ml-1" type="checkbox" :id="permission.name" :value="permission.id" v-model="selected">
        <label class="ml-1" :for="permission.name"> {{ permission.description }} </label>
        <div class="ml-2">
            <permission :selected-permissions="selectedPermissions" :permission="child"
                        v-for="child in permission.children"
                        v-model:selected-permissions="selected"></permission>
        </div>
    </div>
</template>

<script>

export default {
    name: "Permission",
    emits: ['update:selectedPermissions'],
    props: {
        permission: {
            type: Object,
            required: true,
        },
        selectedPermissions: {
            type: Array,
            required: true,
        },
    },
    computed: {
        selected: {
            get() {
                return this.selectedPermissions;
            },

            set(val) {
                if (this.selectedPermissions.includes(val)) {
                    return;
                }
                this.$emit("update:selectedPermissions", val);
            },
        },
    },
}
</script>

<style scoped>

</style>
