<template>
    <admin-layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('admin.charge.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>
            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2>Charge bearbeiten:</h2>
            </div>
            <div class="mt-4">
                <label for="name">Name:</label>
                <input type="text" v-model="charge.name" autocomplete="off" id="name" class="ml-2 rounded">
            </div>
            <div class="mt-4">
                <label for="description">Beschreibung:</label>
                <textarea v-model="charge.description" id="description" cols="3"></textarea>
            </div>
            <div class="mt-4">
                <label class="align-top" for="chargeGroupId">Gruppe:</label>
                <select v-model="charge.chargeGroupId" id="chargeGroupId">
                    <option v-for="chargeGroup in chargeGroups" :value="chargeGroup.id"> {{ chargeGroup.name }}</option>
                </select>
            </div>
            <div class="mt-4">
                <label for="money">Geld:</label>
                <input type="number" v-model="charge.money" autocomplete="off" id="money" class="ml-2 rounded">
            </div>

            <div class="mt-4">
                <label for="time">Zeit:</label>
                <input type="number" v-model="charge.time" autocomplete="off" id="time" class="ml-2 rounded">
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
        Message,
    },
    props: {
        charge: {
            type: Object,
            required: true,
        },
        chargeGroups: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            loading: false,
            password: '',
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('admin.charge.edit.save', this.charge.id), {
                name: this.charge.name,
                description: this.charge.description,
                chargeGroupId: this.charge.chargeGroupId,
                money: this.charge.money,
                time: this.charge.time,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
    },
}
</script>

<style scoped>

</style>
