<template>
    <admin-layout>
        <div>
            <div class="mt-4">
                <h2>Neuen Tag erstellen:</h2>
            </div>
            <div class="mt-4">
                <label for="name">Name:</label>
                <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded">
            </div>
            <div class="mt-4">
                <label for="incident">Für einen Vorfall:</label>
                <input type="checkbox" v-model="incident" autocomplete="off" id="incident" class="ml-2 rounded">
            </div>
            <div class="mt-4">
                <label for="profile">Für das Profil:</label>
                <input type="checkbox" v-model="profile" autocomplete="off" id="profile" class="ml-2 rounded">
            </div>
            <div class="mt-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
        <div class="mt-1 bg-blue-500 p-2">
            <label for="search">Suche:</label>
            <input type="text" id="search" v-model="searchParams.search" @change="loadData()" class="rounded ml-2">
        </div>
        <table class="table-fixed w-full">
            <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Vorfall</td>
                <td>Profile</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in result">
                <td>{{ entry.id }}</td>
                <td>{{ entry.name }}</td>
                <td>
                    <i v-if="entry.incident" class="fas fa-check"></i>
                    <i v-else class="fas fa-times"></i>
                </td>
                <td>
                    <i v-if="entry.profile" class="fas fa-check"></i>
                    <i v-else class="fas fa-times"></i>
                </td>
                <td>
                    <a class="cursor-pointer" @click="deleteEntry(entry.id)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
    },
    data() {
        return {
            result: [],
            name: '',
            incident: false,
            profile: false,
            messages: [],
            loading: false,
            searchParams: {
                search: '',
            }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('admin.tag.search'), {
                params: this.searchParams,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.result = response.data.result;
            });
        },
        save() {
            this.loading = true;
            axios.post(route('admin.tag.save'), {
                name: this.name,
                incident: this.incident,
                profile: this.profile,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.name = '';
                this.incident = false;
                this.profile = false;
                this.loadData();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
            this.loadData();

        },
        deleteEntry(id) {
            axios.delete(route('admin.tag.delete', id));
            this.loadData();
        }
    },
}
</script>

<style scoped>

</style>
