<template>
    <admin-layout>
        <message v-bind:messages="messages"></message>
        <table class="table-fixed w-full">
            <thead>
            <tr>
                <td>Name</td>
                <td>In der Übersicht anzeigen?</td>
                <td>Reihenfolge</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="header in headers">
                <td>
                    <input type="text" autocomplete="off" v-model="header.name" class="ml-2 rounded">
                </td>
                <td>
                    <input type="checkbox" autocomplete="off" v-model="header.list" class="ml-2 rounded">
                </td>
                <td>
                    <input type="number" autocomplete="off" v-model="header.order" class="ml-2 rounded">
                </td>
                <td class="text-center">
                    <a class="cursor-pointer" @click="save(header)">
                        Speichern
                    </a>
                </td>
                <td class="text-center">
                    <a class="cursor-pointer" @click="deleteEntry(header.id)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-4">
            <h2>Neue Kopfzeile erstellen:</h2>
        </div>
        <div class="mt-4">
            <label for="name">Name:</label>
            <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded">
        </div>
        <div class="mt-4">
            <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                    @click="create()">
                <i class="fas fa-save"></i> Erstellen
            </button>
            <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import AdminLayout from "@/Layouts/Admin/Layout";
import Message from "@/Layouts/Component/Message";
import Input from "@/Jetstream/Input";

export default {
    components: {
        Input,
        Message,
        AdminLayout,
    },
    props: {
        id: {
            type: Number,
            required: true
        },
        headers: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            name: '',
            messages: [],
        }
    },
    methods: {
        create() {
            this.loading = true;
            axios.post(route('admin.list.edit.create', this.id), {
                name: this.name,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.headers.push(response.data.entry);
                this.name = '';
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });

        },
        save(header) {
            this.loading = true;
            axios.post(route('admin.list.edit.save', header.id), {
                name: header.name,
                list: header.list,
                order: header.order,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });

        },
        deleteEntry(id) {
            axios.delete(route('admin.list.edit.delete', id));
            for (let i = 0; i < this.headers.length; i++) {
                let entry = this.headers[i];
                if (entry.id === id) {
                    this.headers.splice(i, 1);
                }
            }
        }
    },
}
</script>

<style scoped>

</style>
