<template>
    <admin-layout>
        <message v-bind:messages="messages"></message>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="entry in result">
                <td>{{ entry.name }}</td>
                <td>
                    <a class="cursor-pointer" :href="route('admin.list.edit.index', entry.id)">
                        Bearbeiten
                    </a>
                </td>
                <td>
                    <a class="cursor-pointer" @click="deleteEntry(entry.id)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-4">
            <h2>Neue Liste erstellen:</h2>
        </div>
        <div class="mt-4 grid grid-cols-4">
            <label for="name" class="col-span-1">Name:</label>
            <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded col-span-3">
        </div>
        <div class="mt-4 grid grid-cols-4">
            <label class="align-top col-span-1" for="groupIds">Gruppe:</label>
            <select v-model="groupsIds" id="groupIds" multiple  required class="ml-2 rounded col-span-3">
                <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
            </select>
        </div>
        <div class="mt-4">
            <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                    @click="save()">
                <i class="fas fa-save"></i> Speichern
            </button>
            <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import AdminLayout from "@/Layouts/Admin/Layout";
import Message from "@/Layouts/Component/Message";

export default {
    components: {
        Message,
        AdminLayout,
    },
    props: {
        groups: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            result: [],
            loading: false,
            name: '',
            groupsIds: [],
            messages: [],
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('admin.list.lists')).then(response => {
                this.result = response.data.entries;
            });
        },
        save() {
            this.loading = true;
            axios.post(route('admin.list.save'), {
                name: this.name,
                groupIds: this.groupsIds,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.name = '';
                this.loadData();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });

        },
        deleteEntry(id) {
            axios.delete(route('admin.list.delete', id));
            this.loadData();
        }
    },
}
</script>

<style scoped>

</style>
