<template>
    <h2 class="mt-2 underline">
        Profile hinzufügen/bearbeiten:
    </h2>
    <div class="mt-1">
        <label for="search">Suche:</label>
        <input type="text" id="search" v-model="searchParams.search" @input="loadData" class="rounded ml-2">
    </div>
    <div class="mt-1" v-if="searchProfiles.length !== 0">
        <hr/>
    </div>
    <table class="mt-2 table-fixed w-full">
        <tbody>
        <tr v-for="searchProfile in searchProfiles">
            <td class="text-center">
                <img :src="searchProfile.image">
            </td>
            <td class="text-center">{{ searchProfile.name }}</td>
            <td class="text-center">
                <button  v-if="!isProfileIdAlreadySet(searchProfile.id)" class="bg-blue-500 p-2 text-white" @click="add(searchProfile.id)">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mt-1">
        <hr/>
    </div>
    <table class="table-fixed w-full mt-2">
        <tbody>
        <tr v-for="profile in profiles">
            <td class="text-center">
                <img :src="profile.image">
            </td>
            <td class="text-center">
                {{ profile.name }}
            </td>
            <td class="text-center">
                <label for="warrant">Haftbefehl?</label>
                <input @click="warrant(profile.id)" class="m-1" type="checkbox" id="warrant" v-model="profile.warrant"/>
            </td>
            <td class="text-center">
                <a :href="route('incident.charge.index',{incidentId:id, profileId: profile.id})"
                   class="border rounded cursor-pointer primaryColor p-0 secondaryColorBackground secondaryBorderColor">
                    Charges bearbeiten
                </a>
            </td>
            <td class="text-center">
                <button v-if="isProfileIdAlreadySet(profile.id)" class="bg-red-500 p-2 text-white"
                        @click="deleteEntry(profile.id)"><i class="fas fa-minus"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import axios from "axios";
import qs from "qs";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";


export default {
    components: {LinkAsButton},
    props: {
        id: {
            type: Number,
            required: true,
        },
        profiles: {
            type: Array,
            required: true,
        }

    },
    data() {
        return {
            searchProfiles: {},
            searchParams: {
                search: '',
            }
        }
    },
    methods: {
        isProfileIdAlreadySet(profileId) {
            for (let profile of this.profiles) {
                if (profile.id === profileId) {
                    return true;
                }
            }
            return false;
        },
        getProfileByProfileId(profileId) {
            for (let profile of this.profiles) {
                if (profile.id === profileId) {
                    return profile;
                }
            }
            return undefined;
        },
        loadData() {
            if (this.searchParams.search.length > 2) {
                axios.get(route('profile.search'), {
                    params: this.searchParams,
                    paramsSerializer: (params) => {
                        return qs.stringify(params, {arrayFormat: 'repeat'})
                    },
                }).then(response => {
                    this.searchProfiles = response.data.profiles;
                });
            } else {
                this.searchProfiles = [];
            }
        },
        add(profileId) {
            if (!this.isProfileIdAlreadySet(profileId)) {
                const addUser = async () => {
                    await axios.post(route('incident.edit.addUser', this.id), {
                        profileId: profileId,
                        paramsSerializer: (params) => {
                            return qs.stringify(params, {arrayFormat: 'repeat'})
                        },
                    });
                }
                addUser();
                let entry = this.searchProfiles[profileId];
                this.profiles.push({
                    id: entry.id,
                    image: entry.image,
                    name: entry.name,
                    warrant: false,
                });
                this.searchProfiles = [];
            }
        },
        warrant(profileId) {
            const warrant = async () => {
                let profile = this.getProfileByProfileId(profileId);
                await axios.post(route('incident.edit.warrant', this.id), {
                    profileId: profileId,
                    warrant: !profile.warrant,
                    paramsSerializer: (params) => {
                        return qs.stringify(params, {arrayFormat: 'repeat'})
                    },
                });
            }
            warrant();
        },
        deleteEntry(profileId) {
            if (this.isProfileIdAlreadySet(profileId)) {
                const deleteUser = async () => {
                    await axios.delete(route('incident.edit.deleteUser', this.id), {
                        params: {profileId: profileId},
                        paramsSerializer: (params) => {
                            return qs.stringify(params, {arrayFormat: 'repeat'})
                        },
                    });
                }
                deleteUser();
                delete this.profiles[profileId];
            }
        }
    },
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
