<template>
    <h2 class="mt-2 underline">
        Tags hinzufügen/entfernen:
    </h2>
    <div class="flex">
        <div
            class="cursor-pointer m-2 p-1 rounded border primaryColor secondaryColorBackground secondaryColorBackground"
            v-for="tag in incidentTags" @click="deleteEntry(tag.id)">
            {{ tag.name }} <i class="fas fa-minus"></i>
        </div>
    </div>
    <div class="flex">
        <div class="cursor-pointer m-2 p-1 rounded border secondaryColor primaryColorBackground primaryBorderColor"
             v-for="tag in tags" @click="add(tag.id)">
            {{ tag.name }} <i class="fas fa-plus"></i>
        </div>
    </div>



</template>

<script>
import axios from "axios";
import qs from "qs";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";


export default {
    components: {LinkAsButton},
    props: {
        id: {
            type: Number,
            required: true,
        },
        incidentTags: {
            type: Array,
            required: true,
        },
        tags: {
            type: Array,
            required: true,
        }

    },
    methods: {
        isTagAlreadySet(tagId) {
            for (let tag of this.incidentTags) {
                if (tag.id === tagId) {
                    return true;
                }
            }
            return false;
        },
        getTagByTagId(tagId) {
            for (let tag of this.tags) {
                if (tag.id === tagId) {
                    return tag;
                }
            }
            return undefined;
        },
        add(tagId) {
            if (!this.isTagAlreadySet(tagId)) {
                const addTag = async () => {
                    await axios.post(route('incident.edit.addTag', this.id), {
                        tagId: tagId,
                        paramsSerializer: (params) => {
                            return qs.stringify(params, {arrayFormat: 'repeat'})
                        },
                    });
                }
                addTag();
                let entry = this.getTagByTagId(tagId);
                this.incidentTags.push({
                    id: entry.id,
                    name: entry.name,
                });
            }
        },
        deleteEntry(tagId) {
            if (this.isTagAlreadySet(tagId)) {
                const deleteTag = async () => {
                    await axios.delete(route('incident.edit.deleteTag', this.id), {
                        params: {
                            tagId: tagId
                        },
                        paramsSerializer: (params) => {
                            return qs.stringify(params, {arrayFormat: 'repeat'})
                        },
                    });
                }
                deleteTag();
                for (let i = 0; i < this.incidentTags.length; i++) {
                    let entry = this.incidentTags[i];
                    if (entry.id === tagId) {
                        this.incidentTags.splice(i, 1);
                    }
                }
            }
        }
    },
}
</script>

<style scoped>
</style>
