<template>
    <div class="container mx-auto bg-white">
        <header class="bg-black text-white p-3">
            <div class="grid grid-cols-2">
                <div class="col-span-1">
                    <h2>
                        <a :href="route('admin.index')">
                            <i class="fas fa-hammer"></i> Willkommen im Admin Menü
                        </a>
                    </h2>
                </div>
                <div class="col-start-3 col-span-2">
                    <h2>
                        <a class="border p-1" :href="route('index')">
                            <i class="fas fa-backward"></i> Zurück zum Frontend
                        </a>
                    </h2>
                </div>
            </div>
        </header>
        <main class="border-black border-2">
            <div class="grid grid-cols-8">
                <div class="col-span-2 p-2 m-1 border-2">
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_USER')"
                           :href="route('admin.user.index')"
                           class="text-blue-500">
                            <i class="fas fa-user"></i> User
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_PERMISSION')"
                           :href="route('admin.permission.index')"
                           class="text-blue-500">
                            <i class="fas fa-balance-scale-right"></i> Rechte
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_CHARGE')"
                           :href="route('admin.charge.index')"
                           class="text-blue-500">
                            <i class="fas fa-file-invoice-dollar"></i> Strafen
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_CHARGE')"
                           :href="route('admin.chargeGroup.index')"
                           class="text-blue-500">
                            <i class="fas fa-file-invoice-dollar"></i>
                            Strafgruppen
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_GROUP')"
                           :href="route('admin.group.index')"
                           class="text-blue-500">
                            <i class="fas fa-users"></i> Gruppen
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_NEWS')"
                           :href="route('admin.news.index')"
                           class="text-blue-500">
                            <i class="fas fa-newspaper"></i> Neuigkeiten
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_TAG')"
                           :href="route('admin.tag.index')"
                           class="text-blue-500">
                            <i class="fas fa-tag"></i> Tag
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_PROFILE')"
                           :href="route('admin.profilePropertyGroup.index')"
                           class="text-blue-500">
                            <i class="fas fa-id-card"></i> Profil Eigenschaftsgruppen
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_PROFILE')"
                           :href="route('admin.profileProperty.index')"
                           class="text-blue-500">
                            <i class="fas fa-user-circle"></i> Profil Eigenschaften
                        </a>
                    </div>
                    <div class="flex flex-row">
                        <a v-if="permissionAllowed('ACCESS_BACKEND_LIST')"
                           :href="route('admin.list.index')"
                           class="text-blue-500">
                            <i class="fas fa-list"></i> Listen
                        </a>
                    </div>


                </div>
                <div class="border-2 p-4 col-span-6 m-1">
                        <slot></slot>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
export default {
    name: "AdminLayout",
    methods: {
        permissionAllowed(permission) {
            return this.$page.props.user.can.includes(permission);
        }
    }
}
</script>

<style scoped>

</style>
