<template>
    <admin-layout>
        <div class="container">
            <div class="mt-4">
                <a :href="route('admin.profileProperty.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>

            <message v-bind:messages="messages"></message>
            <div class="mt-4">
                <h2>Neue Profil Eigenschaft erstellen:</h2>
            </div>
            <div class="mt-4 grid grid-cols-4">
                <label class="align-top col-span-1 font-bold" for="name">Name:</label>
                <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded col-span-3">
            </div>
            <div class="mt-4 grid grid-cols-4">
                <label class="align-top col-span-1 font-bold" for="profilePropertyGroupId">Gruppe:</label>
                <select v-model="profilePropertyGroupId" id="profilePropertyGroupId" class="ml-2 rounded col-span-3">
                    <option v-for="group in groups" :value="group.id"> {{ group.name }}</option>
                </select>
            </div>
            <div class="mt-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
        Message,
    },
    props: {
        groups: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            loading: false,
            name: '',
            profilePropertyGroupId: null,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('admin.profileProperty.create.save'), {
                name: this.name,
                profilePropertyGroupId: this.profilePropertyGroupId,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.clear();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        clear() {
            this.name = '';
            this.profilePropertyGroupId = null;
        }
    },
}
</script>

<style scoped>

</style>
