<template>
    <admin-layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('admin.profileProperty.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>
            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2>Profil Eigenschaft bearbeiten:</h2>
            </div>
            <div class="mt-4">
                <label for="name">Name:</label>
                <input type="text" v-model="entry.name" autocomplete="off" id="name" class="ml-2 rounded">
            </div>
            <div class="mt-4">
                <label class="align-top" for="profilePropertyGroupId">Gruppe:</label>
                <select v-model="entry.profilePropertyGroupId" id="profilePropertyGroupId">
                    <option v-for="group in groups" :value="group.id"> {{ group.name }}</option>
                </select>
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
        Message,
    },
    props: {
        entry: {
            type: Object,
            required: true,
        },
        groups: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            loading: false,
            password: '',
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('admin.profileProperty.edit.save', this.entry.id), {
                name: this.entry.name,
                profilePropertyGroupId: this.entry.profilePropertyGroupId,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
    },
}
</script>

<style scoped>

</style>
