<template>
    <admin-layout>
        <message v-bind:messages="messages"></message>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="entry in result">
                <td>{{ entry.name }}</td>
                <td>
                    <i v-if="entry.showAll" class="fas fa-check"></i>
                    <i v-if="!entry.showAll" class="fas fa-times"></i>
                </td>
                <td>
                    <a class="cursor-pointer" @click="deleteEntry(entry.id)">
                        Löschen
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-4">
            <h2>Neuen Gruppe erstellen:</h2>
        </div>
        <div class="mt-4">
            <label for="name">Name:</label>
            <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded">
        </div>
        <div class="mt-4">
            <label for="showAll">Kann alle anschauen:</label>
            <input type="checkbox" v-model="showAll" autocomplete="off" id="showAll" class="ml-2 rounded">
        </div>
        <div class="mt-4">
            <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                    @click="save()">
                <i class="fas fa-save"></i> Speichern
            </button>
            <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import AdminLayout from "@/Layouts/Admin/Layout";
import Message from "@/Layouts/Component/Message";

export default {
    components: {
        Message,
        AdminLayout,
    },
    data() {
        return {
            result: [],
            loading: false,
            name: '',
            showAll: false,
            messages: [],
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('admin.group.groups')).then(response => {
                this.result = response.data.entries;
            });
        },
        save() {
            this.loading = true;
            axios.post(route('admin.group.save'), {
                name: this.name,
                showAll: this.showAll,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.name = '';
                this.showAll = false;
                this.loadData();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });

        },
        deleteEntry(id) {
            axios.delete(route('admin.group.delete', id));
            this.loadData();
        }
    },
}
</script>

<style scoped>

</style>
