<template>
    <layout>
        <div class="container">
           404 Seite nicht gefunden
        </div>
    </layout>
</template>

<script>
import Layout from "../Layouts/Layout";

export default {
    components: {
        Layout
    },
}
</script>

<style scoped>

</style>
