<template>
    <layout>
        <div class="p-4 font-bold underline text-lg">
            Neuigkeiten:
        </div>
        <div class="border m-2" v-for="entry in news">
            <div class="primaryColorBackground secondaryColor p-2 underline">{{ entry.title }}</div>
            <div class="p-2" v-html="entry.content"></div>
            <div class="primaryColorBackground secondaryColor p-2 ">
                    {{ formatDate(entry.updatedAt) }}
            </div>


        </div>
    </layout>
</template>

<script>
import Layout from "../Layouts/Layout";
import moment from 'moment';
import axios from "axios";
import qs from "qs";

export default {
    components: {
        Layout
    },
    props: {
        news: {
            type: Array,
            required: true,
        },
    },
    methods: {
        formatDate(date) {
            let momentDate = moment(date, 'YYYY.MM.DD hh:mm:ss');
            momentDate.locale('de');
            return momentDate.fromNow();
        }
    },
}
</script>

<style scoped>

</style>
