<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('list.entry.show.index', entryId)" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
                <link-as-button @click="deleteEntry()"
                                class="float-right bg-red-600 border-red-600 text-white">
                    <i class="fas fa-trash"></i> Löschen
                </link-as-button>
            </div>

            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2 class="font-bold">Eintrag bearbeiten:</h2>
            </div>
            <div class="m-4 grid grid-cols-4" v-for="header in headers">
                <label :for="header.id" class="col-span-1 font-bold">{{ header.name }}:</label>
                <input type="text" v-model="values[header.id]" autocomplete="off" :id="header.id"
                       class="ml-2 rounded col-span-3">
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white float-right" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../../Layouts/Layout";
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        LinkAsButton,
        Message,
        Layout
    },
    props: {
        entryId: {
            type: Number,
            required: true
        },
        listId: {
            type: Number,
            required: true
        },
        headers: {
            type: Array,
            required: true
        },
        values: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('list.entry.edit.save', this.entryId), {
                values: this.values,
                paramsSerializer: (params) => {
                    return qs.stringify(params)
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        deleteEntry() {
            axios.delete(route('list.entry.edit.delete', this.entryId));
            window.location = route('list.entry.show.index', this.entryId);
        }
    },
}
</script>

<style scoped>

</style>
