<template>
    <layout>
        <div class="border-t primaryColorBackground secondaryColor p-2 grid grid-cols-12 gap-2">
            <div class="col-span-6">
                <label for="search">Suche:</label>
                <input type="text" id="search" v-model="searchParams.search" autocomplete="off" @change="loadData()"
                       class="rounded ml-2 text-black">
            </div>
            <div class="col-end-13 col-span-1">
                <permission permission="ACCESS_FRONTEND_LIST_EDIT">
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-right"
                                    :href="route('list.entry.create.index', listId)">
                        Neu
                    </link-as-button>
                </permission>
            </div>
        </div>
        <table class="table-fixed w-full">
            <thead class="border">
            <tr class="border">
                <th class="border">#</th>
                <th class="border" v-for="header in headers"> {{ header }}</th>
                <th class="border"></th>
            </tr>
            </thead>
            <tbody class="border">
            <tr v-for="entry in result" class="m-1 border">
                <td class="border" v-for="values in entry"> {{ values }}</td>
                <td class="border">
                    <a :href="route('list.entry.show.index', entry.id)">Anzeigen</a>
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Permission from "@/Layouts/Component/Permission";

export default {
    components: {
        Permission,
        LinkAsButton,
        Label,
        Layout
    },
    props: {
        listId: {
            type: Number,
            required: true
        },
        headers: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            result: [],
            searchParams: {
                search: '',
            }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('list.entry.search', this.listId), {
                params: {
                    search: this.searchParams.search,
                },
                paramsSerializer: (params) => {
                    return qs.stringify(params)
                },
            }).then(response => {
                this.result = response.data.result;
            });
        }
    },
}
</script>

<style scoped>

</style>
