<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('list.entry.index', listId)" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>

                <a :href="route('list.entry.edit.index', entryId)"
                   class="border-black border p-1 bg-black text-white float-right">
                    <i class="fas fa-edit"></i> Bearbeiten</a>
            </div>
            <div class="m-4 grid grid-cols-4" v-for="value in values">
                <label :for="value.id" class="col-span-1 font-bold">{{ value.name }}:</label>
                <div class="ml-2 rounded col-span-3" :id="value.id">{{ value.value }}</div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../../Layouts/Layout";
import Message from "@/Layouts/Component/Message";

export default {
    components: {
        Message,
        Layout
    },
    props: {
        listId: {
            type: Number,
            required: true
        },
        entryId: {
            type: Number,
            required: true
        },
        values: {
            type: Array,
            required: true
        },
    },
}
</script>

<style scoped>

</style>
