<template>
    <div class="mt-4 grid grid-cols-4">
        <label class="align-top col-span-1 font-bold">Tags:</label>
        <div class="flex rounded col-span-3">
            <div class="cursor-pointer m-2 p-1 rounded border primaryColor secondaryColorBackground secondaryColorBackground"
                 v-for="tag in tags">
                {{ tag.name }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        tags: {
            type: Array,
            required: true,
        }
    },
}
</script>

<style scoped>
</style>
