<template>
    <layout>
        <div class="container h-full">
            <div class="grid mt-1 md:grid-cols-4 h-full">
                <div class="md:col-span-3 grid-cols-4 h-full">
                    <div class="m-4">
                        <a :href="route('incident.edit.index', incidentId)"
                           class="border-black border p-1 bg-black text-white">
                            <i class="fas fa-angle-double-left"></i> Zurück
                        </a>

                        <div class="mt-2" v-for="charge in charges">
                            <h2 class="underline font-bold"> {{ charge.category }} </h2>
                            <div class="grid grid-cols-4">
                                <div v-for="chargeEntry in charge.charges" class="border m-1 p-1 rounded cursor-pointer primaryColor primaryBorderColor" @click="add(chargeEntry)">
                                    <p>{{ chargeEntry.name }} ({{ chargeEntry.money }}$ || {{ chargeEntry.time }}T)</p>
                                    <p class="text-sm overflow-ellipsis overflow-hidden whitespace-nowrap" :title="chargeEntry.description">
                                        {{ chargeEntry.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-1 grid-cols-4 border primaryColorBackground primaryBorderColor secondaryColor h-full w-full">
                    <table class="table-fixed w-full">
                        <thead>
                        <tr>
                            <td class="text-center font-bold">Name</td>
                            <td class="text-center font-bold">Geld</td>
                            <td class="text-center font-bold">Zeit</td>
                            <td class="text-center font-bold"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(selectedCharge,index) in selectedCharges">
                            <td class="text-center font-bold">{{ selectedCharge.name }}</td>
                            <td class="text-center">{{ selectedCharge.money }}$</td>
                            <td class="text-center">{{ selectedCharge.time }}T</td>
                            <td class="text-center">
                                <button class="secondaryColor border secondaryBorderColor primaryColorBackground p-2 m-1" @click="deleteEntry(index)"><i
                                    class="fas fa-minus"></i></button>
                            </td>
                        </tr>
                        <tr class="border-b"></tr>
                        <tr>
                            <td class="text-center font-bold"></td>
                            <td class="text-center font-bold">{{ totalMoney }}$</td>
                            <td class="text-center font-bold">{{ totalTime }}T</td>
                            <td class="text-center font-bold"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="m-4 text-center">
                        <button v-if="!loading" class="border p-2 secondaryColor secondaryBorderColor primaryColorBackground" type="submit"
                                @click="save()">
                            <i class="fas fa-save"></i> Speichern
                        </button>
                        <span v-if="loading" class="border-black border p-2 bg-black text-white"><i
                            class="fas fa-spinner fa-spin"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import Layout from "@/Layouts/Layout";

export default {
    components: {
        Layout,
        Message,
    },
    props: {
        incidentId: {
            type: Number,
            required: true
        },
        profileId: {
            type: Number,
            required: true
        },
        charges: {
            type: Array,
            required: true
        },
        selectedCharges: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('incident.charge.save'), {
                charges: this.selectedCharges,
                profileId: this.profileId,
                incidentId: this.incidentId,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                let data = response.data;
                this.messages = data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        add(entry) {
            this.selectedCharges.push(entry);
        },
        deleteEntry(index) {
            this.selectedCharges.splice(index, 1);
        }
    },
    computed: {
        totalMoney: function () {
            let money = 0;
            this.selectedCharges.forEach(function (charge) {
                money += charge.money;
            });
            return money;
        },
        totalTime: function () {
            let time = 0;
            this.selectedCharges.forEach(function (charge) {
                time += charge.time;
            });
            return time;
        }
    }
}
</script>

<style scoped>

</style>
