<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <link-as-button v-if="!incident.id" class="primaryColor secondaryBorderColor secondaryColorBackground"
                                :href="route('incident.index')">
                    <i class="fas fa-angle-double-left"></i> Zurück
                </link-as-button>
                <link-as-button v-if="incident.id" class="primaryColor secondaryBorderColor secondaryColorBackground"
                                :href="route('incident.show.index', incident.id)">
                    <i class="fas fa-angle-double-left"></i> Zurück
                </link-as-button>
                <link-as-button v-if="incident.id" @click="deleteEntry()"
                                class="float-right bg-red-600 border-red-600 text-white">
                    <i class="fas fa-trash"></i> Löschen
                </link-as-button>
            </div>
            <div class="m-4 mt-6">
                <message v-bind:messages="messages"></message>
            </div>
            <div class="m-4 font-bold">
                <h2 v-if="incident.id">Incident bearbeiten:</h2>
                <h2 v-else>Incident erstellen:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <label class="col-span-1 font-bold" for="title">Titel:</label>
                <input type="text" v-model="incident.title" autocomplete="off" id="title"
                       class="ml-2 rounded col-span-3">
            </div>
            <div v-if="!incident.id" class="m-4 grid grid-cols-4">
                <label class="align-top col-span-1 font-bold">Beschreibung:</label>
                <div class="col-span-3 ml-2 table">
                    <quill-editor ref="myQuillEditor" v-model:content="incident.description" contentType="html"
                                  theme="snow"/>
                </div>
            </div>
            <div v-if="incident.id" v-for="description in incident.descriptions" class="m-4 grid grid-cols-4">
                <label class="align-top col-span-1 font-bold">Beschreibung:</label>
                <div class="col-span-3 ml-2 table">
                    <quill-editor ref="myQuillEditor" contentType="html" v-model:content="description.description"
                                  theme="snow"/>
                </div>
            </div>

            <div v-if="incident.id" class="m-4 h-11">
                <button
                    class="primaryColor secondaryColorBackground primaryBorderColor p-2 border rounded h-11 float-right"
                    type="submit"
                    @click="addDescription()">
                    <i class="fas fa-plus"> Beschreibung</i>
                </button>
            </div>

            <div class="m-4 h-11">
                <button v-if="!loading" class="border-black border p-2 bg-black  h-11 text-white rounded float-right"
                        type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
            <div class="m-4">
                <hr/>
                <Profile v-if="incident.id" :id="incident.id" :profiles="profiles"></Profile>
            </div>
            <div class="m-4">
                <hr/>
                <Tag v-if="incident.id" :id="incident.id" :tags="tags" :incident-tags="incidentTags"></Tag>
            </div>
        </div>
    </layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import Layout from "@/Layouts/Layout";
import Profile from "@/Pages/Incident/Entry/Profile";
import Tag from "@/Pages/Incident/Entry/Tag";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import {QuillEditor} from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';


export default {
    components: {
        QuillEditor,
        LinkAsButton,
        Profile,
        Tag,
        Layout,
        Message,
    },
    props: {
        incident: {
            type: Object,
            required: true
        },
        profiles: {
            type: Object,
            required: true
        },
        tags: {
            type: Array,
            required: true
        },
        incidentTags: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            if (this.incident.id) {
                axios.post(route('incident.edit.save', this.incident.id), {
                    title: this.incident.title,
                    descriptions: this.incident.descriptions,
                    paramsSerializer: (params) => {
                        return qs.stringify(params, {arrayFormat: 'repeat'})
                    },
                }).then(response => {
                    let data = response.data;
                    this.messages = data.messages;
                    this.loading = false;
                }).catch(error => {
                    this.messages = error.response.data.errors;
                    this.loading = false;
                });
            } else {
                axios.post(route('incident.create.save'), {
                    title: this.incident.title,
                    description: this.incident.description,
                    paramsSerializer: (params) => {
                        return qs.stringify(params, {arrayFormat: 'repeat'})
                    },
                }).then(response => {
                    let data = response.data;
                    this.messages = data.messages;
                    this.incident.id = data.incident.id;
                    this.incident.title = data.incident.title;
                    this.incident.descriptions = data.incident.descriptions;
                    this.loading = false;
                }).catch(error => {
                    this.messages = error.response.data.errors;
                    this.loading = false;
                });
            }
        },
        deleteEntry() {
            if (this.incident.id) {
                axios.delete(route('incident.edit.delete', this.incident.id));
                window.location = route('incident.index');
            }
        },
        addDescription() {
            this.incident.descriptions.push({
                description: '',
                changelog: [],
            });
        }
    }
}
</script>

<style scoped>

</style>
