<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground"
                                :href="route('incident.show.index', incidentId)">
                    <i class="fas fa-angle-double-left"></i> Zurück
                </link-as-button>
            </div>
            <div class="m-4 mt-6">
                <message v-bind:messages="messages"></message>
            </div>
            <div class="m-4 font-bold">
                <h2>Rechte bearbeiten:</h2>
            </div>
            <div class="m-4 grid grid-cols-4" v-for="group in groups">
                <label class="col-span-1 font-bold" :for="group.id">{{ group.name }}</label>
                <input type="checkbox" v-model="selectedGroups" :value="group.id" :id="group.id" class="ml-2 rounded col-span-3">
            </div>

            <div class="m-4 h-11">
                <button v-if="!loading" class="border-black border p-2 bg-black  h-11 text-white rounded float-right"
                        type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                        <i class="fas fa-spinner fa-spin"></i>
                    </span>
            </div>
        </div>
    </layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import Layout from "@/Layouts/Layout";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        LinkAsButton,
        Layout,
        Message,
    },
    props: {
        incidentId: {
            type: Number,
            required: true
        },
        groups: {
            type: Array,
            required: true
        },
        selectedGroups: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('incident.group.save', this.incidentId), {
                selectedGroups: this.selectedGroups,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                let data = response.data;
                this.messages = data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
    }
}
</script>

<style scoped>

</style>
