<template>
    <layout>
        <div class="border-t primaryColorBackground secondaryColor p-2 grid grid-cols-12 gap-2">
            <div class="col-span-3">
                <label for="search">Suche:</label>
                <input type="text" id="search" v-model="searchParams.search" @change="loadData()"
                       class="rounded ml-2 text-black w-full">
            </div>
            <div class="col-span-8">
                <label>Tags:</label>
                <div class="flex">
                    <div
                        class="cursor-pointer m-2 p-1 rounded border primaryColor secondaryColorBackground primaryBorderColor"
                        v-for="tag in searchParams.tags" @click="remove(tag.id)">
                        {{ tag.name }} <i class="fas fa-minus"></i>
                    </div>
                    <div
                        class="cursor-pointer m-2 p-1 rounded border secondaryColor primaryColorBackground secondaryBorderColor"
                        v-for="tag in tags" @click="add(tag.id)">
                        {{ tag.name }} <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <permission permission="ACCESS_FRONTEND_INCIDENT_EDIT">
                    <link-as-button class="primaryColor m-auto secondaryBorderColor secondaryColorBackground float-right"
                                    :href="route('incident.create.index')">
                        Neu
                    </link-as-button>
                </permission>
            </div>
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="incident in incidents" class="border-b">
                <td class="p-2 font-bold">{{ incident.id }}</td>
                <td colspan="2" class="p-2">
                    {{ incident.title }}
                    ({{ formatDateToCurrentDay(incident.createdAt) }})
                </td>
                <td>
                    <div class="flex">
                        <div class="m-2 p-1 rounded border primaryColor secondaryColorBackground primaryBorderColor" v-for="tag in incident.tags">
                            {{ tag.name }}
                        </div>
                    </div>
                </td>
                <td class="text-right primaryColor">
                    <a :href="route('incident.show.index', incident.id)">Zum Vorfall</a>
                </td>
                <td class="text-center">
                    {{ formatDate(incident.createdAt) }}
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import moment from 'moment';
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Permission from "@/Layouts/Component/Permission";

export default {
    components: {
        LinkAsButton,
        Label,
        Layout,
        Permission,
    },
    props: {
        tags: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            incidents: [],
            searchParams: {
                search: '',
                tags: [],
            }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('incident.search'), {
                params: {
                    search: this.searchParams.search,
                    tags: this.searchParams.tags,
                },
                paramsSerializer: (params) => {
                    return qs.stringify(params)
                },
            }).then(response => {
                this.incidents = response.data.result;
            });
        },
        isTagAlreadySet(tagId) {
            for (let tag of this.searchParams.tags) {
                if (tag.id === tagId) {
                    return true;
                }
            }
            return false;
        },
        add(tagId) {
            if (!this.isTagAlreadySet(tagId)) {
                for (let i = 0; i < this.tags.length; i++) {
                    let entry = this.tags[i];
                    if (entry.id === tagId) {
                        this.searchParams.tags.push(entry);
                        this.tags.splice(i, 1);
                    }
                }
                this.loadData();
            }
        },
        remove(tagId) {
            if (this.isTagAlreadySet(tagId)) {
                for (let i = 0; i < this.searchParams.tags.length; i++) {
                    let entry = this.searchParams.tags[i];
                    if (entry.id === tagId) {
                        this.tags.push(entry);
                        this.searchParams.tags.splice(i, 1);
                    }
                }
                this.loadData();
            }
        },
        formatDate(date) {
            let momentDate = moment(date, 'YYYY.MM.DD hh:mm:ss');
            momentDate.locale('de');
            return momentDate.fromNow();
        },
        formatDateToCurrentDay(date) {
            let momentDate = moment(date, 'YYYY.MM.DD hh:mm:ss');
            momentDate.locale('de');
            return momentDate.format('DD/MM/YYYY');
        }
    },
}
</script>

<style scoped>
select {
    height: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 150px;
}
</style>
