<template>
    <layout>
        <div class="container">
            <div class="m-4 flow-root">
                <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground"
                                :href="route('incident.index')">
                    <i class="fas fa-angle-double-left float-left pt-1"></i> Zurück
                </link-as-button>
                <link-as-button @click="share"
                                class="primaryColor float-right secondaryBorderColor secondaryColorBackground">
                    <i class="fas fa-share"></i> Teilen
                </link-as-button>
                <permission permission="ACCESS_FRONTEND_INCIDENT_EDIT">
                    <link-as-button class="primaryColor float-right secondaryBorderColor secondaryColorBackground"
                                    :href="route('incident.edit.index', incident.id)">
                        <i class="fas fa-edit"></i> Bearbeiten
                    </link-as-button>
                </permission>
                <permission permission="ACCESS_FRONTEND_INCIDENT_EDIT">
                    <link-as-button class="primaryColor float-right secondaryBorderColor secondaryColorBackground"
                                    :href="route('incident.group.index', incident.id)">
                        <i class="fas fa-eye"></i> Berechtigungen
                    </link-as-button>
                </permission>
            </div>
            <div class="mt-6">
                <message :messages="messages"></message>
            </div>
            <div class="m-4 font-bold">
                <h2>Incident {{ incident.id }}:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <div class="col-span-1 font-bold">Titel:</div>
                <div class="col-span-3 underline">
                    {{ incident.title }}
                    ({{ formatDateToCurrentDay(incident.createdAt) }})
                </div>
            </div>
            <div class="m-4" v-for="description in incident.descriptions">
                <div class="text-xs" v-html="changelog(description.changelog)"></div>
                <div class="border p-1" v-html="description.description">
                </div>
            </div>
            <div class="m-4">
                <hr/>
                <Profile :profiles="profiles"></Profile>
            </div>
            <div class="m-4">
                <hr/>
                <Tag :tags="tags"></Tag>
            </div>
        </div>
    </layout>
</template>

<script>
import Message from "@/Layouts/Component/Message";
import Layout from "@/Layouts/Layout";
import Profile from "@/Pages/Incident/Show/Profile";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Permission from "@/Layouts/Component/Permission";
import moment from 'moment';
import Tag from "@/Pages/Incident/Show/Tag";

export default {
    components: {
        Tag,
        LinkAsButton,
        Profile,
        Layout,
        Message,
        Permission,
    },
    props: {
        incident: {
            type: Object,
            required: true
        },
        profiles: {
            type: Object,
            required: true
        },
        tags: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            messages: [],
        }
    },
    methods: {
        share() {
            axios.get(route('incident.show.share', this.incident.id))
                .then(response => {
                    this.messages = response.data.messages;
                });
        },
        changelog(changelogs) {
            let text = '';
            if (changelogs.hasOwnProperty(0)) {
                let changelog = changelogs[0];
                let momentDate = moment(changelog.timestamp, 'YYYY.MM.DD hh:mm:ss');
                momentDate.locale('de');
                let date = momentDate.fromNow();
                text += 'Erstellt von ' + changelog.user + ' ' + date;
            }
            if (changelogs.hasOwnProperty(changelogs.length - 1)) {
                let changelog = changelogs[changelogs.length - 1];
                if (changelog.action === 'UPDATE') {
                    let momentDate = moment(changelog.timestamp, 'YYYY.MM.DD hh:mm:ss');
                    momentDate.locale('de');
                    let date = momentDate.fromNow();
                    text += ' | Bearbeiten von ' + changelog.user + ' ' + date;
                }
            }
            return text;
        },
        formatDateToCurrentDay(date) {
            let momentDate = moment(date, 'YYYY.MM.DD hh:mm:ss');
            momentDate.locale('de');
            return momentDate.format('DD/MM/YYYY');
        }
    }
}
</script>

<style scoped>

</style>
