@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-image: url("../img/bg.jpg");
}
:root {
    --primaryColor: blue;
    --secondaryColor: white;
}

.primaryColor {
    color: var(--primaryColor);
}

.primaryBorderColor {
    border-color: var(--primaryColor);
}


.primaryColorBackground {
    background-color: var(--primaryColor);
}

.secondaryColor {
    color: var(--secondaryColor);
}

.secondaryBorderColor {
    border-color: var(--secondaryColor);
}

.secondaryColorBackground {
    background-color: var(--secondaryColor);
}



