<template>
    <admin-layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('admin.user.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>

            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2>Neuen User erstellen:</h2>
            </div>
            <div class="m-4">
                <label for="name">Name:</label>
                <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded">
            </div>
            <div class="m-4">
                <label for="password">Passwort:</label>
                <input type="password" v-model="password" autocomplete="off" id="password" class="ml-2 rounded">
            </div>
            <div class="m-4">
                <label class="align-top" for="permissionGroupId">Berechtigungsgruppe:</label>
                <select v-model="permissionGroupId" id="permissionGroupId">
                    <option v-for="permissionGroup in permissionGroups" :value="permissionGroup.id"> {{ permissionGroup.name }}</option>
                </select>
            </div>
            <div class="m-4">
                <label class="align-top" for="groupId">Gruppe:</label>
                <select v-model="groupId" id="groupId">
                    <option v-for="group in groups" :value="group.id"> {{ group.name }}</option>
                </select>
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
        Message,
    },
    props: {
        permissionGroups: {
            type: Array,
            required: true,
        },
        groups: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            loading: false,
            name: '',
            password: '',
            permissionGroupId: null,
            groupId: null,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('admin.user.create.save'), {
                name: this.name,
                password: this.password,
                permissionGroupId: this.permissionGroupId,
                groupId: this.groupId,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.clear();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        clear() {
            this.name = '';
            this.password = '';
            this.permissionGroupId = null;
        }
    },
}
</script>

<style scoped>

</style>
