<template>
    <admin-layout>
        <div class="mt-1 bg-blue-500 p-2">
            <label for="name">Suche:</label>
            <input type="text" id="name" v-model="searchParams.name" @change="loadData()" class="rounded ml-2">
            <a :href="route('admin.user.create.index')" class="float-right border-black border p-1 bg-black text-white">Neu</a>
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="entry in result">
                <td>{{ entry.name }}</td>
                <td>
                    <a :href="route('admin.user.edit.index', entry.id)">Bearbeiten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
    },
    data() {
        return {
            result: [],
            searchParams: {
                name: '',
                offset: 0,
                limit: 25,
            }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('admin.user.search'), {
                params: this.searchParams,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.result = response.data.result;
            });
        }
    },
}
</script>

<style scoped>

</style>
