<template>
    <a :href="href" class="border rounded p-2 cursor-pointer">
        <slot></slot>
    </a>
</template>

<script>
export default {
    name: "LinkAsButton",
    props:{
        href: {
            type: String,
        },
    }
}
</script>

<style scoped>

</style>
