<template>
    <div class="text-center p-2 shadow" v-for="(message, index) in messages"
         :style="{ 'background-color': message.color }">
        {{ message.text }} <i class="fa fa-times float-right rounded bg-white p-1" @click="removeItem(index)"></i>
    </div>
</template>

<script>
export default {
    name: "Message",
    props: ['messages', 'color'],
    methods: {
        removeItem(index) {
            this.messages.splice(index, 1);
        }
    }
}
</script>

<style scoped>

</style>
