<template>
    <slot v-if="permissionAllowed"></slot>
</template>

<script>
export default {
    name: "Permission",
    props: {
        permission: {
            type: String,
        },
    },
    computed: {
        permissionAllowed() {
            if(!this.$page.props.user){
                return false;
            }
            return this.$page.props.user.can.includes(this.permission);
        }
    }
}
</script>

<style scoped>

</style>
