<template>
    <admin-layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('admin.news.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>
            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2>News bearbeiten:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="title" class="col-span-1">Title:</label>
                <input type="text" v-model="title" autocomplete="off" id="title" class="rounded col-span-3">
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="content" class="col-span-1">Text:</label>
                <div class="col-span-3 table">
                    <quill-editor id="content" contentType="html" v-model:content="content" theme="snow"/>
                </div>
            </div>

            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </admin-layout>
</template>

<script>
import axios from "axios";
import qs from 'qs';
import Message from "@/Layouts/Component/Message";
import AdminLayout from "@/Layouts/Admin/Layout";
import {QuillEditor} from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';

export default {
    components: {
        AdminLayout,
        Message,
        QuillEditor,
    },
    props: {},
    data() {
        return {
            loading: false,
            title: '',
            content: '',
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('admin.news.create.save'), {
                title: this.title,
                content: this.content,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
    },
}
</script>

<style scoped>

</style>
