<template>
    <admin-layout>
        <div class="mt-1 bg-blue-500 p-2 h-11">
            <a :href="route('admin.news.create.index')" class="float-right border-black border p-1 bg-black text-white">Neu</a>
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="entry in news">
                <td>{{ entry.title }}</td>
                <td>
                    <a :href="route('admin.news.edit.index', entry.id)">Bearbeiten</a>
                </td>
            </tr>
            </tbody>
        </table>
    </admin-layout>
</template>

<script>
import AdminLayout from "@/Layouts/Admin/Layout";

export default {
    components: {
        AdminLayout,
    },
    props: {
        news: {
            type: Array,
            required: true,
        },
    },
}
</script>

<style scoped>

</style>
