<template>
    <h2 class="mt-2 underline">
        Profile:
    </h2>
    <table class="table-fixed w-full mt-2">
        <tbody>
        <tr v-for="profile in profiles">
            <td class="text-center">
                <img :src="profile.image">
            </td>
            <td class="text-center">
                <div>
                    {{ profile.name }}
                    ({{ profile.money }}$ | {{ profile.time }}T)
                </div>
                <div class="grid grid-cols-3">
                    <div class="rounded m-2 p-2 bg-blue-500 col-span-1" v-for="charge in profile.charges">
                        {{ charge.count }}x {{ charge.name }}
                    </div>
                </div>
            </td>
            <td class="text-center">
                <label for="warrant">Haftbefehl?</label>
                <input class="m-1" type="checkbox" id="warrant" v-model="profile.warrant" readonly="readonly"/>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
import LinkAsButton from "@/Layouts/Component/LinkAsButton";


export default {
    components: {LinkAsButton},
    props: {
        profiles: {
            type: Object,
            required: true,
        }

    }
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
