<template>
    <h2 class="mt-2 underline">
        Tags:
    </h2>
    <div class="flex">
        <div class="cursor-pointer m-2 p-1 rounded border primaryColor secondaryColorBackground secondaryColorBackground"
            v-for="tag in tags">
            {{ tag.name }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        tags: {
            type: Array,
            required: true,
        }
    },
}
</script>

<style scoped>
</style>
