<template>
    <layout>
        <div v-if="warrants.length === 0" >
            Es wurden keine Haftbefehle gefunden
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="warrant in warrants" class="border-b m-1">
                <td class="text-center"><img :src="warrant.profile.image"></td>
                <td class="text-center">{{ warrant.profile.name }}</td>
                <td class="text-center primaryColor">
                    <a :href="route('incident.show.index', warrant.incident.id)">Zum Vorfall</a>
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";

export default {
    components: {
        Label,
        Layout
    },
    props:{
        warrants: {
            type: Array,
            required: true
        },
    }
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
