<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('resolution.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>

            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2 class="font-bold">Neuen Beschluss erstellen:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="name" class="col-span-1 font-bold">Title:</label>
                <input type="text" v-model="title" autocomplete="off" id="name" class="ml-2 rounded col-span-3">
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="file" class="col-span-1 font-bold">Beschluss:</label>
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"
                       class="ml-2 rounded col-span-3" accept=".pdf">
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white float-right" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import Button from "@/Jetstream/Button";
import Message from "@/Layouts/Component/Message";

export default {
    components: {
        Message,
        Button,
        Label,
        Layout
    },
    data() {
        return {
            loading: false,
            title: '',
            file: '',
            messages: [],
        }
    },
    methods: {
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },
        save() {
            this.loading = true;
            let formData = new FormData();
            formData.append('title', this.title);
            formData.append('file', this.file);
            axios.post(route('resolution.create.save'), formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.clear();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        clear() {
            this.title = '';
            this.file = null;
        }
    },
}
</script>

<style scoped>

</style>
