<template>
    <layout>
        <div class="border-t primaryColorBackground secondaryColor p-2 flow-root">
            <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-right"
                            :href="route('resolution.create.index')">
                Neu
            </link-as-button>
        </div>
        <div v-if="results.length === 0">
            Es wurden keine Beschlüsse gefunden
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="result in results" class="border-b m-1">
                <td class="text-center">{{ result.title }}</td>
                <td class="text-center primaryColor">
                    <a :href="route('resolution.show.index', result.id)">Zum Beschluss</a>
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        LinkAsButton,
        Label,
        Layout
    },
    props: {
        results: {
            type: Array,
            required: true
        },
    }
}
</script>

<style scoped>
</style>
