<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <div class="mt-4 flow-root">
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-left"
                                    :href="route('resolution.index')">
                        <i class="fas fa-angle-double-left"></i> Zurück
                    </link-as-button>
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-right"
                                    @click="deleteEntry()">
                        <i class="fas fa-trash"></i> Löschen
                    </link-as-button>
                </div>
                <div class="mt-6">
                    <message :messages="messages"></message>
                </div>

                <div class="mt-4 font-bold">
                    <h2>Beschluss</h2>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Titel:</div>
                    <div class="col-span-3">{{ entry.title }}</div>
                </div>
                <div class="mt-4 justify-center">
                    <embed class="h-screen w-full" :src="entry.path">
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Message from "@/Layouts/Component/Message";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";

export default {
    components: {
        Message,
        Layout,
        LinkAsButton,
    },
    props: {
        entry: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            messages: [],
        }
    },
    methods: {
        deleteEntry() {
            axios.delete(route('resolution.show.delete', this.entry.id))
                .then(response => {
                    this.messages = response.data.messages;
                });
        },
    }
}
</script>

<style scoped>
</style>
