<template>
    <layout>
        <div v-if="lists.length === 0" >
            Es wurden keine Listen gefunden
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="list in lists" class="border-b m-1">
                <th class="text-center">{{ list.id }}</th>
                <td class="text-center">{{ list.name }}</td>
                <td class="text-center primaryColor">
                    <a :href="route('list.entry.index', list.id)">Zur Liste</a>
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";

export default {
    components: {
        Label,
        Layout
    },
    props:{
        lists: {
            type: Array,
            required: true
        },
    }
}
</script>

<style scoped>
</style>
