<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <a :href="route('profile.index')" class="border-black border p-1 bg-black text-white"><i
                    class="fas fa-angle-double-left"></i> Zurück</a>
            </div>

            <message v-bind:messages="messages"></message>
            <div class="m-4">
                <h2 class="font-bold">Neues Profil erstellen:</h2>
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="name" class="col-span-1 font-bold">Name:</label>
                <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded col-span-3">
            </div>
            <div class="m-4 grid grid-cols-4">
                <label for="image" class="col-span-1 font-bold">Bild Url:</label>
                <input type="text" v-model="image" autocomplete="off" id="image" class="ml-2 rounded col-span-3">
            </div>
            <div class="m-4 grid grid-cols-4">
                <label class="align-top col-span-1 font-bold" for="description">Beschreibung:</label>
                <textarea id="description" autocomplete="off" v-model="description" class="ml-2 rounded col-span-3"></textarea>
            </div>
            <div class="m-4">
                <button v-if="!loading" class="border-black border p-2 bg-black text-white float-right" type="submit"
                        @click="save()">
                    <i class="fas fa-save"></i> Speichern
                </button>
                <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import Button from "@/Jetstream/Button";
import Message from "@/Layouts/Component/Message";

export default {
    components: {
        Message,
        Button,
        Label,
        Layout
    },
    data() {
        return {
            loading: false,
            name: '',
            image: '',
            description: '',
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('profile.create.save'), {
                name: this.name,
                image: this.image,
                description: this.description,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.clear();
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        clear() {
            this.name = '';
            this.image = '';
            this.description = '';
        }
    },
}
</script>

<style scoped>

</style>
