<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <div class="mt-4">
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground"
                                    :href="route('profile.show.index', id)">
                        <i class="fas fa-angle-double-left"></i> Zurück
                    </link-as-button>
                    <link-as-button @click="deleteEntry()"
                                    class="float-right bg-red-600 border-red-600 text-white">
                        <i class="fas fa-trash"></i> Löschen
                    </link-as-button>

                </div>

                <div class="mt-4">
                    <message v-bind:messages="messages"></message>
                </div>
                <div class="mt-4">
                    <h2 class="font-bold">Profil bearbeiten:</h2>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <label for="name" class="col-span-1 font-bold">Name:</label>
                    <input type="text" v-model="name" autocomplete="off" id="name" class="ml-2 rounded col-span-3">
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <label for="image" class="col-span-1 font-bold">Bild Url:</label>
                    <input type="text" v-model="image" autocomplete="off" id="image" class="ml-2 rounded col-span-3">
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <label class="align-top col-span-1 font-bold" for="description">Beschreibung:</label>
                    <textarea id="description" autocomplete="off" rows="8" v-model="description"
                              class="ml-2 rounded col-span-3"></textarea>
                </div>

                <div class="mt-4">
                    <h2 class="font-bold underline"> Eigenschaften </h2>
                    <div v-for="propertyGroup in propertyGroups">
                        <h2> {{ propertyGroup.name }} </h2>
                        <hr />
                        <div class="m-4 grid grid-cols-4" v-for="entry in propertyGroup.properties">
                            <label class="align-top col-span-1" :for="entry.id">{{ entry.name }}:</label>
                            <input type="text" v-model="properties[entry.id]" :key="entry.id" autocomplete="off" :id="entry.id"
                                   class="ml-2 rounded col-span-3">
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button v-if="!loading" class="border-black border p-2 bg-black text-white float-right"
                            type="submit"
                            @click="save()">
                        <i class="fas fa-save"></i> Speichern
                    </button>
                    <span v-if="loading" class="border-black border p-2 bg-black text-white float-right">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
                </div>
                <div class="mt-4">
                    <tag :id="id" :tags="tags" :profile-tags="profileTags"></tag>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import Button from "@/Jetstream/Button";
import Message from "@/Layouts/Component/Message";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Tag from "@/Pages/Profile/Edit/Tag";

export default {
    components: {
        Tag,
        Message,
        Button,
        Label,
        Layout,
        LinkAsButton
    },
    props: {
        id: 0,
        name: '',
        image: '',
        description: '',
        tags: {
            type: Array,
            required: true
        },
        profileTags: {
            type: Array,
            required: true
        },
        propertyGroups: {
            type: Array,
            required: true
        },
        properties: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            loading: false,
            messages: [],
        }
    },
    methods: {
        save() {
            this.loading = true;
            axios.post(route('profile.edit.save', this.id), {
                name: this.name,
                image: this.image,
                description: this.description,
                properties: this.properties,
                paramsSerializer: (params) => {
                    return qs.stringify(params, {arrayFormat: 'repeat'})
                },
            }).then(response => {
                this.messages = response.data.messages;
                this.loading = false;
            }).catch(error => {
                this.messages = error.response.data.errors;
                this.loading = false;
            });
        },
        deleteEntry() {
            axios.delete(route('profile.edit.delete', this.id));
            window.location = route('profile.index');
        }
    },
}
</script>

<style scoped>

</style>
