<template>
    <layout>
        <div class="border-t primaryColorBackground secondaryColor p-2 grid grid-cols-12 gap-2">
            <div class="col-span-3">
                <label for="search">Suche:</label>
                <input type="text" id="search" v-model="searchParams.search" @change="loadData()"
                       class="rounded ml-2 text-black w-full">
            </div>
            <div class="col-span-8">
                <label>Tags:</label>
                <div class="flex">
                    <div
                        class="cursor-pointer m-2 p-1 rounded border primaryColor secondaryColorBackground primaryBorderColor"
                        v-for="tag in searchParams.tags" @click="remove(tag.id)">
                        {{ tag.name }} <i class="fas fa-minus"></i>
                    </div>
                    <div
                        class="cursor-pointer m-2 p-1 rounded border secondaryColor primaryColorBackground secondaryBorderColor"
                        v-for="tag in tags" @click="add(tag.id)">
                        {{ tag.name }} <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="col-span-1">
                <permission permission="ACCESS_FRONTEND_PROFILE_EDIT">
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-right"
                                    :href="route('profile.create.index')">
                        Neu
                    </link-as-button>
                </permission>
            </div>
        </div>
        <table class="table-fixed w-full">
            <tbody>
            <tr v-for="profile in profiles" class="m-1 border-b">
                <td class="text-center"><img class="rounded" :src="profile.image"></td>
                <td class="text-center font-bold">{{ profile.name }}</td>
                <td>
                    <div class="flex">
                        <div class="m-2 p-1 rounded border primaryColor secondaryColorBackground primaryBorderColor" v-for="tag in profile.tags">
                            {{ tag.name }}
                        </div>
                    </div>
                </td>
                <td class="text-center primaryColor">
                    <a :href="route('profile.show.index', profile.id)">Zum Profil</a>
                </td>
            </tr>
            </tbody>
        </table>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import axios from "axios";
import qs from 'qs';
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Permission from "@/Layouts/Component/Permission";

export default {
    components: {
        Permission,
        LinkAsButton,
        Label,
        Layout
    },
    props: {
        tags: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            profiles: {},
            searchParams: {
                search: '',
                tags: [],
            }
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        loadData() {
            axios.get(route('profile.search'), {
                params: {
                    search: this.searchParams.search,
                    tags: this.searchParams.tags,
                },
                paramsSerializer: (params) => {
                    return qs.stringify(params)
                },
            }).then(response => {
                this.profiles = response.data.profiles;
            });
        },
        isTagAlreadySet(tagId) {
            for (let tag of this.searchParams.tags) {
                if (tag.id === tagId) {
                    return true;
                }
            }
            return false;
        },
        add(tagId) {
            if (!this.isTagAlreadySet(tagId)) {
                for (let i = 0; i < this.tags.length; i++) {
                    let entry = this.tags[i];
                    if (entry.id === tagId) {
                        this.searchParams.tags.push(entry);
                        this.tags.splice(i, 1);
                    }
                }
                this.loadData();
            }
        },
        remove(tagId) {
            if (this.isTagAlreadySet(tagId)) {
                for (let i = 0; i < this.searchParams.tags.length; i++) {
                    let entry = this.searchParams.tags[i];
                    if (entry.id === tagId) {
                        this.tags.push(entry);
                        this.searchParams.tags.splice(i, 1);
                    }
                }
                this.loadData();
            }
        },
    },
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
