<template>
    <layout>
        <div class="container">
            <div class="m-4">
                <div class="mt-4 flow-root">
                    <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-left"
                                    :href="route('profile.index')">
                        <i class="fas fa-angle-double-left"></i> Zurück
                    </link-as-button>
                    <link-as-button @click="share"
                                    class="primaryColor secondaryBorderColor secondaryColorBackground float-right">
                        <i class="fas fa-share"></i> Teilen
                    </link-as-button>
                    <permission permission="ACCESS_FRONTEND_PROFILE_EDIT">
                        <link-as-button class="primaryColor secondaryBorderColor secondaryColorBackground float-right"
                                        :href="route('profile.edit.index', id)">
                            <i class="fas fa-edit"></i> Bearbeiten
                        </link-as-button>
                    </permission>

                </div>
                <div class="mt-6">
                    <message :messages="messages"></message>
                </div>

                <div class="mt-4 font-bold">
                    <h2>Profil</h2>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Name:</div>
                    <div class="col-span-3">{{ name }}</div>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Bild:</div>
                    <div class="col-span-3">
                        <img class="float-left" :src="image">
                    </div>
                </div>
                <div class="mt-4 grid grid-cols-4">
                    <div class="col-span-1 font-bold">Beschreibung:</div>
                    <div class="col-span-3">{{ description }}</div>
                </div>

                <div class="mt-4">
                    <h2 class="font-bold underline"> Eigenschaften </h2>
                    <div v-for="propertyGroup in propertyGroups">
                        <h2> {{ propertyGroup.name }} </h2>
                        <hr/>
                        <div class="m-4 grid grid-cols-4" v-for="entry in propertyGroup.properties">
                            <div class="col-span-1">{{ entry.name }}:</div>
                            <div class="col-span-3">{{ entry.value }}</div>
                        </div>
                    </div>
                </div>

                <tag :tags="tags"></tag>

                <div class="mt-2">
                    <h2 class="font-bold">Vorbestrafungen:</h2>
                    <div class="flex">
                        <div class="rounded m-2 p-2 primaryColorBackground secondaryColor" v-for="charge in charges">
                            {{ charge.count }}x {{ charge.name }}
                        </div>
                    </div>
                    <p class="">Die letzten Vorfälle:</p>
                    <table class="table-fixed w-full">
                        <tbody>
                        <tr v-for="incident in latestIncidents" class="m-1 border-b">
                            <td class="text-center font-bold">{{ incident.title }}</td>
                            <permission permission="ACCESS_FRONTEND_INCIDENT">
                                <td class="text-center primaryColor">
                                    <a :href="route('incident.show.index', incident.id)">Zum Vorfall</a>
                                </td>
                            </permission>
                            <td class="text-center font-bold">{{ incident.date }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import Layout from "../../Layouts/Layout";
import Label from "@/Jetstream/Label";
import Button from "@/Jetstream/Button";
import Message from "@/Layouts/Component/Message";
import LinkAsButton from "@/Layouts/Component/LinkAsButton";
import Permission from "@/Layouts/Component/Permission";
import Tag from "@/Pages/Profile/Show/Tag";

export default {
    components: {
        Tag,
        Message,
        Button,
        Label,
        Layout,
        LinkAsButton,
        Permission,
    },
    props: {
        id: 0,
        name: '',
        image: '',
        description: '',
        charges: {
            type: Object,
            required: true
        },
        propertyGroups: {
            type: Array,
            required: true
        },
        tags: {
            type: Array,
            required: true
        },
        latestIncidents: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            messages: [],
        }
    },
    methods: {
        share() {
            axios.get(route('profile.show.share', this.id))
                .then(response => {
                    this.messages = response.data.messages;
                });
        },
    }
}
</script>

<style scoped>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 200px;
}
</style>
