<template>
    <admin-layout>
    </admin-layout>
</template>

<script>
import AdminLayout from "@/Layouts/Admin/Layout";
export default {
    components: {AdminLayout}
}
</script>

<style scoped>

</style>
