<template>
    <div class="container mx-auto bg-white">
        <header class="primaryColorBackground secondaryColor text-center p-3">
            <div class="text-center border-b secondaryBorderColor mt-2 pb-2">
                <h1 class="text-xl">
                    <b>A</b><small>kten</small> <b>S</b><small>ystem</small>
                </h1>
            </div>

            <div class="flex flex-wrap mt-2 gap-1">
                <permission permission="ACCESS_FRONTEND">
                    <div class="flex-auto">
                        <a :href="route('index')">
                            <i class="fas fa-home"></i>
                            Startseite
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>

                <permission permission="ACCESS_FRONTEND_RESOLUTION">
                    <div class="flex-auto">
                        <a :href="route('resolution.index')">
                            <i class="fas fa-balance-scale"></i>
                            Beschlüsse
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>


                <permission permission="ACCESS_FRONTEND_PROFILE">
                    <div class="flex-auto">
                        <a :href="route('profile.index')">
                            <i class="fas fa-user"></i>
                            Profile
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>

                <permission permission="ACCESS_FRONTEND_INCIDENT">
                    <div class="flex-auto">
                        <a :href="route('incident.index')">
                            <i class="fas fa-indent"></i>
                            Vorfall
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>


                <permission permission="ACCESS_FRONTEND_WARRANT">
                    <div class="flex-auto">
                        <a :href="route('warrant.index')">
                            <i class="fas fa-eye"></i>
                            Haftbefehle
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>

                <permission permission="ACCESS_FRONTEND_LIST">
                    <div class="flex-auto">
                        <a :href="route('list.index')">
                            <i class="fas fa-list"></i>
                            Listen
                            <span class="float-right"> | </span>
                        </a>
                    </div>
                </permission>


                <permission permission="ACCESS_BACKEND">
                    <div class="flex-auto">
                        <a :href="route('admin.index')">
                            <i class="fas fa-cogs"></i>
                            Admin
                        </a>
                    </div>
                </permission>

            </div>
        </header>
        <main class="primaryBorderColor border-2 min-h-screen">
            <slot></slot>
        </main>
    </div>
</template>

<script>

import Permission from "@/Layouts/Component/Permission";

export default {
    name: "Layout",
    components: {Permission}
}
</script>

<style scoped>

</style>
